html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height:100%;
}
.logo{
    text-align: center;
    padding-top: 22%;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}
.logo img{
    width: 100%;
}
.content{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /*background-color: #ff2a00;*/
    width: 80%;
}
#form2>div:after{
    display: block;
    content: '';
    clear: both;
}
#form2>div{
    margin-top: 5%;
}
.item{
    display: block;
    float: left;
    width: 25%;
    text-align: right;
    padding: 3px;
    font-size: 0.8em;
}
#user,#psw,#conPsw{
    /*margin-left: 4%;*/
    outline: none;
    width: 55%;
    height:20px;
    padding: 2px;
    box-sizing: border-box;
    border: 1px solid rgba(190,190,190,0.4);
}
.hint{
    color: red;
    margin-top: 5px;
    text-align: left;
    font-size: 0.7em;
    padding-left: 20%;
    display: none;
}

.zhuce{
    color:red;
    display: none;
}
#last,#reg{
    width: 48%;
    height: 22px;
    margin-top: 30px;
    background-color:rgb(89,175,228) ;
    border: none;
    outline: none;
    padding: 0;
}