* {
    margin: 0;
    padding: 0;
    /*outline: none;*/
    text-decoration: none;
}

body, html {
    height: 100%;
    font-family: Geneva,"å®‹ä½“",Tahoma,sans-serif;
}

body {
    background-image: url("background1.jpg");
    background-size: 100% 100%;
}

#header {
    margin: 20px auto;
    width: 950px;
}

#header::after {
    display: block;
    content: '';
    clear: both;
}

#header > h1 {
    float: left;
    color: #eee;
}

.choose_btn > a, .feedback > a {
    float: right;
    text-decoration: none;
    font-size: 12px;
    color: gray;
}

.choose_btn a:nth-child(2) {
    border-right: 2px solid aliceblue;
    border-left: 2px solid aliceblue;
}

#content {
    width: 950px;
    background-color: aliceblue;
    margin: 0 auto;
    border: 1px solid #cfcfcf;
}

#content::after {
    display: block;
    content: '';
    clear: both;
}

#content > .side {
    width:200px;
    /*border-right: 1px solid #cfcfcf;*/
    background-color: rgba(64, 150, 193, 0.1);
    float: left;
    padding-top: 40px;
}

/*账号注册用的a标签*/
.fis_btn {
    width: 178px;
    /*height: 40px;*/
    display: inline-block;
    background-color: rgba(64, 150, 193, 0.5);
    box-shadow: 1px 1px 3px #aaa;
    margin-left: 2px;
    outline: none;
    border: none;
    border-radius: 2px 0px 0px 2px;
    font-size: 20px;
    text-align: left;
    padding-left: 20px;
    cursor: pointer;
    color: #616c72;
}

.fis_btn span:first-child {
    display: inline-block;
    padding-top: 10px;
}

.fis_btn span:nth-child(3) {
    font-size: 12px;
    display: inline-block;
    padding-bottom: 10px;
}

/*邮箱注册用的button标签*/
.fir_btn {
    width: 198px;
    /*height: 40px;*/
    background-color: rgba(64, 150, 193, 0.5);
    box-shadow: 1px 1px 3px #aaa;
    margin-left: 2px;
    outline: none;
    border: none;
    border-radius: 2px 0px 0px 2px;
    font-size: 20px;
    text-align: left;
    padding-left: 20px;
    color: #616c72;
}

.custom_btn span:nth-child(1), .custom_btn span:nth-child(2) {
    display: inline-block;
    padding-top: 10px;

}

.custom_btn span:nth-child(4) {
    font-size: 12px;
    display: inline-block;
    padding-bottom: 10px;
}

.icon {
    font-family: iconfont;
}

.icon.email {
    color: #66cdaa;
    font-weight: bold;
}

.side button {
    cursor: pointer;
}

.side button:link {
    color: rgba(64, 150, 193, 0.6);
}

.side button:nth-child(2) {
    margin-top: 10px;
}

.side_search {
    margin-top: 100px;
    margin-left: 5px;
    margin-right: 5px;
    /*width: 190px;*/
    border: 1px solid #aaa;
    border-radius: 4px;
    box-shadow: 1px 1px 3px #aaa;
}

.search_hint {
    margin: 0;
    color: white;
    background-color: rgba(64, 150, 193, 0.6);
    text-align: center;
    padding-top: 9px;
    padding-bottom: 9px;
}

.search_wrap {
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    border: 1px solid #aaa;
}

.search_wrap input {
    border: 0;
    height: 28px;
    width: 145px;
    font-size: 13px;
}

.search_wrap .icon {
    height: 30px;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
    text-decoration: none;
    font-weight: bold;
    color: #999999;
}

.search_other {
    margin-top: 25px;
    margin-bottom: 80px;
    text-align: center;
}

.search_other a {
    display: inline-block;
    color: #999;
    padding: 5px;
    font-size: 13px;
}

.search_other a:hover {
    color: rgba(64, 150, 193, 0.6);
}

.main_content {
    width: 749px;
    margin: 0 auto;
    float: left;
    padding-bottom: 80px;
    border-left: 1px solid #cfcfcf;
}
.rem_img{
    width: 610px;
    height: 165px;
    margin-left: 65px;
    margin-top: 40px;
}
.home_title{
    font-size: 20px;
    border-left:3px solid rgb(64, 150, 193);
    padding-left: 10px;
    margin-left: 65px;
    margin-top: 50px;
    margin-bottom: 10px;
}
.tran_line{
    border:none;
    border-top:1px solid #cfcfcf;
    width: 610px;
    margin-left: 65px;
    margin-bottom: 20px;
}
/*#main::after{*/
    /*display: block;*/
    /*content: '';*/
    /*clear: both;*/
/*}*/
#main{
}
.menu{
    margin-top: 10px;
}
.menu::after{
    display: block;
    content: '';
    clear: both;
}
.item,.item_box{
    float: left;
    display: block;
}
.item{
    width: 180px;
    height: 45px;
    text-align: right;
    font-size: 14px;
    line-height: 45px;
}
.item_box{
    margin-left: 10px;
    width: 300px;
    height: 35px;
    border: 0.5px solid rgba(64, 150, 193,0.2);
    border-radius: 4px;
}
.item_box>input{
    width: 284px;
    height: 18px;
    border: none;
    padding: 8px;
}
.sex_box,.birthday_box{
    border:none;
    display:inline-block;
}
.sex_box>input{
    width:30px;
    height: 16px;
    padding: 0;
}
.sex_box>span{
    font-size: 10px;
    color: #84a8c8;
    cursor: pointer;
}
.male_item,.female_item{
    margin-top: 12px;
}
.female_item {
    margin-left: 30px;
}
.birthday_box>select{
    margin-top: 10px;
}
.menu_7 .reminder{
    clear: both;
    font-size: 12px;
    color: #616c72;
    margin-left: 190px;
    margin-top: 10px;
}
.reminder>p{display: inline-block;}
.reminder>a{
    text-decoration: none;
    color: #84a8c8;
    margin-left: 20px;
}
.submit>input{
    width:300px;
    height: 50px;
    background-color: #69b946;
    color: white;
    border: none;
    border-radius: 4px;
    margin-left: 190px;
    margin-top: 20px;
    font-size: 22px;
    cursor: pointer;

}
.last_hint{
    margin-left: 190px;
    font-size: 12px;
    margin-top: 30px;
}
#footer{
    width: 956px;
    color: #616c72;
    font-size: 13px;
    margin: 0 auto;/*让div居中*/
    padding: 20px 0;
    text-align: center;/*让文本在宽度为956px*/
}
