* {
    margin: 0;
    padding: 0;
    /*outline: none;*/
    text-decoration: none;
}

body, html {
    height: 100%;
    font:400 12px/14px Geneva,"å®‹ä½“",Tahoma,sans-serif;
}

body {
    background: url("https://6.url.cn/zc/chs/img/body.png?v=10090") repeat-x #fff;

}

.container {
    background: url("http://6.url.cn/zc/chs/img/bg_chs.jpg?v=10090") center top no-repeat;
}
.container2{
    width: 956px;
    margin: 0 auto;
    background: url("http://6.url.cn/zc/chs/img/left.png?v=10090") left bottom no-repeat;
}

#header {
    margin: 0 auto;
    height: 94px;
    background: url("http://6.url.cn/zc/chs/img/bg_chs.jpg?v=10090") center top no-repeat;
    position: relative;
}

#header::after {
    display: block;
    content: '';
    clear: both;
}

#header > h1 {
    float: left;
    color: #eee;
}

.choose_btn {
    position: absolute;
    top:40px;
    right: 2px;
    font-family: Tahoma,Verdana,Arial,'å®‹ä½“';
    color: white;
}

.feedback {
    margin-top: 67px;
    margin-right: 15px;
    float: right;
}

.choose_btn > a, .feedback > a {
    text-decoration: none;
    color: white;

}
#content {
    /*width: 956px;*/
    margin: 0 auto;
}

#content::after {
    display: block;
    content: '';
    clear: both;
}

#content > .side {
    width: 210px;
    background: url("http://6.url.cn/zc/chs/img/left.png?v=10090") left top no-repeat #f8fdff;
    float: left;
    padding-top: 30px;
    height: 650px;
}

/*账号注册用的a标签*/
.fis_btn {
    width: 206px;
    height: 80px;
    display: inline-block;
    background: url("http://6.url.cn/zc/chs/img/left_2.png?v=10090") left bottom no-repeat;
    margin-left: 2px;
    outline: none;
    font-size: 20px;
    text-align: left;
    padding-left: 20px;
    cursor: pointer;
    /*color: #616c72;*/
    color: white;
}

.fis_btn span:first-child {
    display: inline-block;
    padding-top: 10px;
    height: 26px;
    line-height: 26px;
}

.fis_btn span:nth-child(2) {
    font-size: 12px;
    display: inline-block;
    height: 16px;
    line-height: 26px;
}
.icon {
    font-family: iconfont;
}

/*自制的搜索框的style开始处*/
/*.side_search {*/
/*margin-top: 100px;*/
/*margin-left: 5px;*/
/*margin-right: 5px;*/
/*!*width: 190px;*!*/
/*border: 1px solid #aaa;*/
/*border-radius: 4px;*/
/*box-shadow: 1px 1px 3px #aaa;*/
/*}*/

/*.search_hint {*/
/*margin: 0;*/
/*color: white;*/
/*background-color: rgba(64, 150, 193, 0.6);*/
/*text-align: center;*/
/*padding-top: 9px;*/
/*padding-bottom: 9px;*/
/*}*/

/*.search_wrap {*/
/*margin-top: 10px;*/
/*margin-left: 3px;*/
/*margin-right: 3px;*/
/*border: 1px solid #aaa;*/
/*}*/

/*.search_wrap input {*/
/*border: 0;*/
/*height: 28px;*/
/*width: 145px;*/
/*font-size: 13px;*/
/*}*/

/*.search_wrap .icon {*/
/*height: 30px;*/
/*text-align: center;*/
/*padding-right: 5px;*/
/*padding-left: 5px;*/
/*text-decoration: none;*/
/*font-weight: bold;*/
/*color: #999999;*/
/*}*/

/*.search_other {*/
/*margin-top: 25px;*/
/*margin-bottom: 80px;*/
/*text-align: center;*/
/*}*/

/*.search_other a {*/
/*display: inline-block;*/
/*color: #999;*/
/*padding: 5px;*/
/*font-size: 13px;*/
/*}*/

/*.search_other a:hover {*/
/*color: rgba(64, 150, 193, 0.6);*/
/*}*/
/*结束处*/

.left_search {
    width: 179px;
    height: 185px;
    margin-top: 100px;
    margin-left: 7px;
    background: url("http://6.url.cn/zc/chs/img/index_icon_1.png?v=10090") 0 -249px no-repeat;
}

.search_number {
    padding-top: 44px;
    padding-left: 5px;
}

.search_num_txt {
    width: 136px;
    height: 14px;
    line-height: 14px;
    padding: 5px 2px;
    border: none;
    float: left;
}
.search_icon{
    display: inline-block;
    width: 30px;
    height: 26px;
    cursor: pointer;
    clear: both;
}
.other_style {
    margin-top: 20px;
    text-align: center;
}

.other_style a {
    display: inline-block;
    color: #999;
    padding: 5px;
    /*font-size: 12px;*/
}

.other_style a:hover {
    color: rgba(64, 150, 193, 0.6);
}

.main_content {
    width: 746px;
    /*margin: 0 auto;*/
    float: left;
    padding-bottom: 80px;
    border-top: 1px solid #80add9;
    border-bottom: 1px solid #d6d9db;
    background: url(http://6.url.cn/zc/chs/img/right_1600.png?v=10090) right top no-repeat #f8fdff;
}

.rem_img {
    width: 610px;
    height: 165px;
    margin-left: 65px;
    margin-top: 40px;
}

.home_title {
    height: 25px;
    line-height: 25px;
    font-size: 18px;
    font-family: "微软雅黑";
    color: #616161;
    border-left: 3px solid #59AfE4;
    padding-left: 10px;
    margin-left: 65px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.tran_line {
    border: none;
    border-top: 1px solid #cfcfcf;
    width: 610px;
    margin-left: 65px;
    margin-bottom: 20px;
}

.menu {
    margin-top: 10px;
}

.menu::after {
    display: block;
    content: '';
    clear: both;
}

.item, .item_box {
    float: left;
    display: block;
}

.item {
    width: 180px;
    height: 45px;
    text-align: right;
    font-size: 14px;
    line-height: 45px;
}

.item_box {
    width: 300px;
    height: 35px;
    border: none;
    margin-left: 10px;
    background: url("http://6.url.cn/zc/chs/img/ipt.png?v=10090") no-repeat;
}

.item_box > input {
    width: 284px;
    height: 18px;
    line-height: 18px;
    border: none;
    padding: 8px;
    font-family: Arial,Helvetica,sans-serif;
    background: none;
}

.sex_box, .birthday_box {
    border: none;
    display: inline-block;
    margin-left: 5px;
}

.sex_box > input {
    width: 30px;
    height: 16px;
    padding: 0;
}

.sex_box > span {
    font-size: 10px;
    color: #84a8c8;
    cursor: pointer;
}

.male_item, .female_item {
    margin-top: 12px;
}

.female_item {
    margin-left: 30px;
}

.birthday_box > select {
    margin-top: 10px;
}

.menu_7 .reminder {
    clear: both;
    font-size: 12px;
    color: #616c72;
    margin-left: 190px;
    margin-top: 10px;
}

.reminder > p {
    display: inline-block;
}

.reminder > a {
    text-decoration: none;
    color: #84a8c8;
    margin-left: 20px;
}

.submit > input {
    width: 300px;
    height: 50px;
    background-color: #69b946;
    color: white;
    border: none;
    border-radius: 4px;
    margin-left: 190px;
    margin-top: 20px;
    font-size: 22px;
    cursor: pointer;

}

.last_hint {
    margin-left: 190px;
    font-size: 12px;
    margin-top: 30px;
}

#footer {
    width: 956px;
    color: #616c72;
    font-size: 13px;
    margin: 0 auto; /*让div居中*/
    padding: 20px 0;
    text-align: center; /*让文本在宽度为956px*/
}
