.page.hello {
    color: white;
    font-size: 30px;
    padding-top: 200px;
    text-align: center;
    width: 100%;
    background-color: indianred;
    position: absolute;
    top: 0;
    bottom: 0;
}

@keyframes rotateFall {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(90deg);
    }

}
@keyframes scaleUp {
    from {
        opacity: 0.3;
        -webkit-transform: scale(0.8);
    }
}
@keyframes slideOutLeft {
    to {
        transform: translateX(-100%);
    }
}
@keyframes slideInRight {
    from {
        transform:translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}
.ng-enter {
    z-index: 8888;
}
.ng-leave {
    z-index: 9999;
}
.hello.ng-enter {
    animation: scaleUp 0.5s both ease-in;
}
.hello.ng-leave {
    animation: rotateFall 0.6s both linear;
}
.form.ng-enter {
    animation:slideInRight 0.5s both ease-in;
}
.form.ng-leave {
    animation:slideOutLeft 0.5s both ease-in;
}