#checkerboard{
    width: 600px;
    height: 620px;
    border: 5px solid #59AfE4;
    /*border: 5px solid #5f7695;*/
    margin: 0 auto;
    position: relative;
}
.header{
    height:50px;
    line-height: 50px;
    font-size: 30px;
    font-family:"Geneva","Sans-Serif";   /*设置字体为什么没有反应,而且word中的字体不能用于这里*/
    text-align: center;
}
.playAgain{
    border: none;
    padding: 0;
    outline: none;
    width: 80px;
    height: 30px;
    line-height: 30px;
    background-color:#c93;
    color: antiquewhite;
    border-radius: 2px;
    cursor: pointer;
}
.playAgain:hover{
    background-color: #cc9966;
    color:white;
}
.container{
    width: 550px;
    height: 550px;
    background: url("http://ww1.sinaimg.cn/mw690/9e59afb4gw1f8rqdhhd8wg20f00f044a.gif") no-repeat;
    /*background: url("images/backgroup.gif") no-repeat;*/
    margin: 0 auto;
}
table{
    border-collapse: collapse;
    margin-left: 7px;
    margin-top: 7px;
    display: inline-block;
}
td{
    width: 33px;
    height: 33px;
    /*border: 1px solid red;*/
}
#popup{
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    width: 300px;
    height: 150px;
    /*border: 1px solid black;*/
    /*border-radius: 1px;*/
    background-color:white ;
    /*background-color: #5f7695;*/
    top:200px;
    left: 150px;
    z-index: 9999;
}
.pop_head{
    width: 300px;
    height: 40px;
    line-height: 40px;
    background-color: white;
    /*background-color: #b4c7d1;*/
    font-size: 20px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    text-align: center;
    /*color: black;*/
    color: #59AfE4;
    /*color: #5188a6;*/
    /*color: #477098;*/
}
.pop_line{
    color: gray;
    opacity: 0.2;
    margin: 0;
}
.pop_content{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    text-align: center;
    color:black;
    /*color: #b4c7d1;*/
}
.pop_close{
    text-decoration: none;
    background-color: #59AfE4;
    /*background-color: #b4c7d1;*/
    width: 80px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    /*border-radius: 1px;*/
    display: block;
    cursor: pointer;
    margin: 0 auto;
    color: white;
    /*color: #477098;*/
}
.pop_close:hover{
    opacity: 0.8;
    /*background-color: #9eacb4;*/
}
